OPENAI_API_KEY=
DEEPSEEK_API_KEY=
HF_TOKEN=
MODAL_APP_NAME=pricer-service
MODAL_CLASS_NAME=Pricer
PUSHOVER_USER=
PUSHOVER_TOKEN=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_FROM=
MY_PHONE_NUMBER=
DEAL_THRESHOLD=50
VECTORSTORE_PATH=products_vectorstore

